<% include partials/_header %>

<div class="container content-center">
    <div class=" row my-5">
            <div class="col-sm-3 text-center my-2 ">

                    <div class="card  my-form" style="width: 17rem;">
                        <div class="card-body text-center">
                            <form action="/add" method="post" id="tipoUsuario">
                                <h3 class="">Ingresar Usuario</h3>
                                <div class="input-group input-group-sm mb-3 ml-2">
                                    <input type="text" name="name" placeholder="NOMBRE" class="form-control-plaintext border"
                                        aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                                </div>
                                <div class="input-group input-group-sm mb-3 ml-2">
                                    <input type="email" name="email" placeholder="EMAIL" class="form-control-plaintext border"
                                        required>
                                </div>
                                <div class="input-group input-group-sm mb-3 ml-2">
                                        <input type="password" name="pass" placeholder="PASSWORD" class="form-control-plaintext border"
                                            required>
                                            
                                    </div>
                                <div class="input-group input-group-sm mb-3 ml-2">
                                        <select type="text" name="tipoUsu" placeholder="TIPO USUARIO" class="form-control-plaintext border" form="tipoUsuario">
                                                <option  selected disabled>Tipo de  Usiario</option>    
                                                 <option value="Administrador">Administrador</option>
                                                <option value="Usuario">Usuario</option>
                                                <option value="Invidato">Invitado</option>
                                              
                                        </select>
                                  
                                        
                                </div>
                                <div class="input-group input-group-sm mb-3 ml-2">
                                    <input type="number" name="phone" placeholder="Telefono" class="form-control-plaintext border"
                                        required>
                                        
                                </div>
        
                                <button type="submit" class="btn btn-primary ml-2">
                                    Save User
                                </button>
        
                            </form>
        
                        </div>
                    </div>
        
        
                </div>
        <div class="col-sm-9 text-center ">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>CODIGO</th>
                        <th>NOMBRE</th>
                        <th>EMAIL</th>
                        <th>PASSWORD</th>
                        <th>TIPO USUARIO</th>
                        <th>TELEFONO</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% if (data) { %>
                    <% for (var i = 0; i < data.length; i++) { %>
                    <tr>
                        <td>
                            <%= (i+1)%>
                        </td>
                        <td>
                            <%= data[i].name %>
                        </td>
                        <td>
                            <%= data[i].email %>
                        </td>
                        <td>
                            <%= data[i].pass %>
                        </td>
                        <td>
                            <%= data[i].tipoUsu %>
                        </td>
                        <td>
                            <%= data[i].phone %>
                        </td>

                        <td>
                            <a href="/delete/<%= data[i].codUsu%>" class="btn btn-danger mt-1">Delete</a>
                            <a href="/update/<%= data[i].codUsu%>"      class="btn btn-info mt-1">Update</a>
                            <br><br>

                        </td>
                    </tr>
                    <% } %>
                    <% } %>
                </tbody>

            </table>




        </div>
        
    </div>
</div>


<% include partials/_footer %>